@media (hover: hover){
    .hero__button{
      background-color: var(--color-naranja-claro);
      transition: 2s;
    }
    .smoothie__button{
      background-color: var(--color-naranja-claro);
      transition: 1s; 
    }

    .fruit__button-three{
        background-color: var(--color-naranja-claro);
        transition: 1s;
    }

    .sugar__button-one:hover {
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }
    .sugar__button-two:hover {
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }

    .chef__button:hover {
        background-color: var(--color-naranja-claro);
        transition: 1s;
    }

    .favorite-smoothie__button-one:hover{
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }

    .favorite__button-two:hover{
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }

    .membership__button:hover{
        background-color: var(--color-orange);
        color: var(--color-white);
        transition: 1s;
    }

    .footer__form button:hover {
        background-color: var(--color-orange);
        color: var(--color-black);
        transition: 1s;
      }
      
  
  
}


@media screen and (max-width: 480px) {
    /* Header */
    .header {
        width: 100%;
        padding: 1rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        text-align: center;
    }

    .header__logo {
        font-size: 24px;
        text-align: center;
    }

    .header__nav {
        width: 100%;
        margin: 10px 0;
        padding-top: 15px;
    }

    .header__nav a {
        display: inline-block;
        width: auto;
        font-size: 12px;
        margin: 0 5px;
    }

    .header__icons {
        width: 100%;
        justify-content: center;
        transform: translate(0, 0);
        margin-top: 10px;
    }

    .header__icons-icons {
        width: 25px;
        height: 25px;
        font-size: 16px;
        margin: 0 5px;
    }

    /* Footer */
    .footer {
        width: 100%;
        padding: 15px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        text-align: center;
    }

    .footer__content {
        grid-template-columns: 1fr;
    }

    .footer__title h4 {
        font-size: 30px;
    }

    .footer__title span {
        font-size: 12px;
    }

    .footer__menu {
        align-items: center;
        padding-left: 0;
        margin-top: 20px;
    }

    .footer__icons {
        justify-content: center;
    }

    .footer__icon {
        width: 25px;
        height: 25px;
        font-size: 16px;
        margin: 5px;
    }

    .footer__links li {
        font-size: 16px;
        margin-bottom: 5px;
        text-align: center;
    }

    .footer__signup {
        align-items: center;
        padding-top: 20px;
    }

    .footer__signup h5 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer__form {
        width: 100%;
        align-items: center;
    }

    .footer__form input {
        width: 90%;
        max-width: 100%;
        border-radius: 15px;
    }

    .footer__form button {
        width: 90%;
        border-radius: 15px;
    }
}

/* Media query para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 768px) {
  
    /* Ajustes para la sección Hero */
    .hero {
      height: 80vh; /* reduce el tamaño de la sección para pantallas pequeñas */
      background-size: cover;
      background-position: center;
    }
    
    .hero__content {
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .hero__text {
      font-size: 20px;
      margin: 10px;
    }
    
    .hero__button {
      width: 80%;
      font-size: 14px;
      padding: 8px;
    }
  
    /* Ajustes para la sección Smoothie */
    .smoothie__box {
      flex-direction: column;
      padding: 20px;
    }
    
    .smoothie__element {
      width: 100%;
      margin-bottom: 20px;
      height: auto;
    }
    
    .smoothie__texts {
      padding: 20px;
    }
    
    /* Ajustes para la sección Fruit */
    .fruit__box {
      height: auto;
      background-size: cover;
    }
    
    .fruit__elemet {
      width: 90%;
      margin: auto;
      transform: translate(0, 0);
    }
  
    /* Ajustes para la sección Smoothie Green */
    .smoothie-green__box {
      padding: 20px;
    }
  
    .smoothie-green__element {
      width: 100%;
      margin-top: 20px;
      left: 0;
    }
  
    /* Ajustes para la sección Sugar */
    .sugar__box {
      padding: 20px;
      height: auto;
      background-size: cover;
    }
  
    .sugar__element {
      width: 90%;
      margin: auto;
      padding: 0;
    }
  
    .sugar_text-one {
      font-size: 30px;
      width: 100%;
    }
  
    .sugar_text-two {
      font-size: 20px;
    }
  
    .sugar_text-three {
      font-size: 16px;
    }
  
    /* Ajustes para botones en general */
    .sugar__button-one,
    .sugar__button-two,
    .fruit__button-one,
    .fruit__button-two,
    .fruit__button-three,
    .smoothie__button {
      width: 90%;
      margin: 5px auto;
      padding: 10px;
      font-size: 14px;
    }
  
    /* Ajustes para la sección Chef */
    .chef__box {
      padding: 20px;
      height: auto;
    }
  
    .chef__elements {
      width: 90%;
      margin: auto;
      height: auto;
    }
  }
  