@media (hover: hover){
    .hero__button{
      background-color: var(--color-naranja-claro);
      transition: 2s;
    }
    .smoothie__button{
      background-color: var(--color-naranja-claro);
      transition: 1s; 
    }

    .fruit__button-three{
        background-color: var(--color-naranja-claro);
        transition: 1s;
    }

    .sugar__button-one:hover {
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }
    .sugar__button-two:hover {
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }

    .chef__button:hover {
        background-color: var(--color-naranja-claro);
        transition: 1s;
    }

    .favorite-smoothie__button-one:hover{
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }

    .favorite__button-two:hover{
        background-color: var(--color-naranja-claro);
        color: var(--color-white);
        transition: 1s;
    }

    .membership__button:hover{
        background-color: var(--color-orange);
        color: var(--color-white);
        transition: 1s;
    }

    .footer__form button:hover {
        background-color: var(--color-orange);
        color: var(--color-black);
        transition: 1s;
      }
      
  
  
}

/* Para pantallas grandes (desktops) */
@media (min-width: 1024px) {
    /* Estilos específicos para pantallas de escritorio grandes */
    .header {
      flex-direction: row;

    }
    .header__nav a {
      margin: 0 15px;
    }
  }
  
  /* Para pantallas medianas (tabletas) */
  @media (max-width: 1023px) and (min-width: 768px) {
    /* Estilos para tabletas */
    .header {
      flex-direction: column;
      align-items: center;
    }
    .header__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero__text-p {
      font-size: 1.5em;
    }
    .smoothie__box {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Para pantallas pequeñas (móviles) */
  @media (max-width: 767px) {
    /* Estilos para móviles */
    .header__logo {
      font-size: 1.2em;
    }
    .header__nav {
      display: none; /* Ocultar el menú en móvil */
    }
    .header__icons {
      display: flex;
      flex-direction: column;
    }
    .hero__content {
      text-align: center;
    }
    .smoothie__box {
      padding: 20px;
      text-align: center;
    }
    .footer__menu {
      flex-direction: column;
      align-items: center;
    }
    .footer__signup {
      text-align: center;
    }
  }
