@import url(root.css);
@import url(section.css);

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}

body{
background-color: var(--color__principal);
 overflow-x: hidden;
}
 
.contenedor__layaout{
 display: grid;
  grid-template-areas: 
  "header"
  "hero"
  "smoothie"
  "fruit"
  "smoothie-green"
  "sugar"
  "chef"
  "favorite"
  "deli"
  "footer";
  width: 100%;
  
    
}

/* Header */
.header {
  display: grid;
  grid-area: header;
  width: 80%;
  height: 20%;
  margin: 0 auto;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  align-items: var(--align-items);
  padding: 2rem;
  background-color:var(--color-gris);
 box-shadow: 0 0 50px 0 var(--color-black);

}

.header__logo {
  width: 100%;
  font-size: 60px;
  text-align: var(--text-align);
  font-weight:300;
  color: var(--color-piel);
  margin-top: 4%;
  
}
.header__nav{
  width: 60%;
  padding-top: 30px;
  margin-left: 60px;    
  justify-content: space-between;
  
  display: flex;
  
  
}

.header__nav-a {
  width: 20%;
  flex-direction:var(--flex-direction-column);
  color: var(--color-white);
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  justify-content: space-between;
      
  
  
}

.header__icons{
  
  display: flex;
 position: absolute;
 left: 60%;
  justify-content: var(--justify-content-end);
  padding-left: 20px;
  
  
}
.header__icons-one{
  display: flex;
  width: 28px;
  height: 28px;
  align-items: var(--align-items);
  justify-content: var(--justify-content-center);
  margin: 0 5px;
  font-size: 18px;
  background-color: var(--color-white);
  border-radius: 20%;
  color: var(--color-black);
}

.header__span {
  font-size: 16px;

  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  color: var(--color-white);  
  margin-left: 8px;

}


/* Footer */
.footer {
  display: grid;
  
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-gris);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 10px 0 20px 0 var(--color-black);
  position: relative;
  top: 60%;
  
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer__title {
  grid-column: 1 / -1;
  text-align: var(--text-align);
  margin-bottom: 20px;
}

.footer__title-h4 {
  font-size: 40px;
  font-weight: 400;
  color: var(--color-piel);
  margin: 0;
}

.footer__title-span {
  font-size: 14px;
  color: var(--color-gris-claro);
}

.footer__menu {
  display: flex;
  flex-direction: var(--flex-direction-column);
  align-items: start;
  padding-left: 150px; 
}

.footer__icons {
  display: flex;
  flex-direction: var(--flex-direction-row);
  margin-bottom: 10px;
}

.footer__icon {
  display: flex;
  align-items: var(--align-items);
  justify-content: var(--justify-content-center);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 18px;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-black);
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0; 
  color: var(--color-gris-claro);
  

  
}

.footer__links-li {
  margin-bottom: 10px;
  font-size: 18px;
  flex-direction: column;
 
}

.footer__signup {
  /* display: flex; */
  flex-direction: var(--flex-direction-column);
  align-items: flex-start;
  margin-left: auto;
  padding-top: 40px;
      
}

.footer__signup h5 {
  color: var(--color-orange);
  font-size: 24px;
  margin-bottom: 10px;
}

.footer__form {
  display: flex;
  flex-direction: var(--flex-direction-column);
  width: 100%;
}

.footer__form input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  border: none;
  border-radius: 20px;
}

.footer__form button {
  background-color: var(--color-naranja-claro);
  color: var(--color-white);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer__form button:hover {
  background-color: var(--color-orange);
}



/* Responsividad para pantallas pequeñas (celulares) */
@media screen and (max-width: 768px) {
  .contenedor__layaout {
      grid-template-areas: 
      "header"
      "hero"
      "smoothie"
      "fruit"
      "smoothie-green"
      "sugar"
      "chef"
      "favorite"
      "deli"
      "footer";
  }

  /* Header ajustes */
  .header {
      width: 100%;
      padding: 1rem;
      grid-template-columns: 1fr;
  }

  .header__logo {
      font-size: 24px;
      text-align: center;
  }

  .header__nav {
      width: 100%;
      margin: 0;
      text-align: center;
      padding-top: 10px;
  }

  .header__nav a {
      display: inline-block;
      margin: 0 5px;
      font-size: 12px;
  }

  .header__icons {
      transform: translate(0, 0);
      justify-content: center;
      width: 100%;
  }

  .header__icons-icons {
      margin: 0 5px;
      font-size: 16px;
  }

  /* Footer ajustes */
  .footer {
      width: 100%;
      padding: 15px;
      grid-template-columns: 1fr;
  }

  .footer__content {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .footer__title {
      margin-bottom: 15px;
      text-align: center;
  }

  .footer__menu {
      padding-left: 0;
      align-items: center;
  }

  .footer__icons {
      justify-content: center;
      margin-bottom: 10px;
  }

  .footer__signup {
      width: 100%;
      align-items: center;
      margin: 0;
  }

  .footer__form {
      width: 100%;
  }

  .footer__form input,
  .footer__form button {
      width: 90%;
      max-width: none;
  }
    /* Ajustes para la sección hero */
    .hero {
      height: 70vh;
      background-size: cover;
    }
  
    .hero__image {
      width: 60%;
    }
  
    .hero__content {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  
    .hero__text {
      font-size: 20px;
    }
  
    .hero__text-p {
      font-size: 16px;
    }
  
    .hero__button {
      padding: 8px 15px;
      font-size: 12px;
    }
  
    /* Ajustes para la sección smoothie */
    .smoothie__box {
      flex-direction: column;
      padding: 20px;
    }
  
    .smoothie__element {
      width: 90%;
      height: auto;
    }
  
    .smoothie__text-one {
      font-size: 20px;
    }
  
    .smoothie__text-two {
      font-size: 12px;
    }
  
    /* Ajustes para la sección fruit */
    .fruit__box {
      height: 80vh;
      background-size: contain;
    }
  
    .fruit__elemet {
      width: 80%;
      transform: translate(10%, 20%);
    }
  
    .fruit__elemet-text {
      font-size: 20px;
    }
  
    .fruit__buttons {
      left: 0;
    }
  
    /* Ajustes para la sección smoothie-green */
    .smoothie-green__box {
      padding: 20px;
    }
  
    .smoothie-green__element {
      width: 90%;
    }
  
    .smoothie-green__text-one {
      font-size: 25px;
    }
    .smoothie-green__element-last {
      position: relative; /* Deja que fluya con el diseño */
     transform: translate(-70%, 50%);
    font-size: 6px;
    
    }

    /* Ajustes para la sección sugar */
    .sugar__box {
      height: auto;
      background-size: cover;
    }
  
    .sugar__element {
      width: 90%;
      padding-left: 20px;
    }
  
    .sugar_text-one {
      font-size: 25px;
    }
  
    .sugar_text-two, .sugar_text-three {
      font-size: 15px;
    }
  
    /* Ajustes para la sección chef */
    .chef__box {
      height: auto;
    }
  
    .chef__elements {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  
    .chef__text-main {
      font-size: 20px;
    }



    .membership__elements {
      width: 80%; /* Ajuste de ancho */
      left: 10%; /* Alineación */
      top: 20%; /* Alineación vertical */
  }

  .membership__text-main {
      font-size: 50px; /* Reducir el tamaño de fuente */
      width: 100%; /* Eliminar el ancho limitado */
      text-align: center; /* Centrado */
  }

  .membership__text-secundary {
      font-size: 20px; /* Reducir el tamaño de fuente */
      width: 100%; /* Eliminar el ancho limitado */
      text-align: center; /* Centrado */
  }

  .membership__button {
      width: 50%; /* Ajuste de ancho */
      font-size: 14px; /* Reducir tamaño de fuente */
      transform: translate(160px, 1px);
      }

  .membership__p {
      width: 100%; /* Eliminar el ancho limitado */
      font-size: 12px; /* Aumentar tamaño de fuente */
      text-align: center; /* Centrado */
  }
}
